# ======================
# Dependencies
# ======================
/node_modules
/.pnp
.pnp.js

# ======================
# Testing
# ======================
/coverage

# ======================
# Next.js
# ======================
/.next/
/out/
/build

# ======================
# Environment files
# ======================
.env*
!.env.example

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Vercel
# ======================
.vercel

# ======================
# TypeScript
# ======================
*.tsbuildinfo
next-env.d.ts

# ======================
# Archives / Dumps
# ======================
*.zip
*.tar
*.tar.gz

# ======================
# Docker Compose (se usar)
# ======================
docker-compose.yml
docker-compose.*.yml